html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #d7e6f3;
}
.circle {
  position: absolute;
  float: block;
  /*width: 200px;*/
  /*height: 200px;*/
}
.circles-text-wrp {
  font-size: 8px !important;

  line-height: 0 !important;
  left: -11px !important;
  text-align: left !important;
}
.circles-number {
  cursor: pointer;
}
.circles-text {
  margin-left: -70px !important;
  cursor: pointer;
  color: rgba(22, 32, 35, 0.72);
}
#title-left {
  background: url('../images/material/title1.png');
  width: 151px;
  height: 42px;
  position: absolute;
top: 250px;
left: 10px;
  z-index: 100;
}
#title-right {
  background: url('../images/material/title2.png');
  width: 135px;
  height: 43px;
  position: absolute;
top: 250px;
left: 473px;
  z-index: 100;
}
#circle-left {
  background: url('../images/material/circle1.png');
  width: 78px;
  height: 80px;
  position: absolute;
top: 366px;
left: 210px;
  z-index: 100;
}
#circle-right {
  background: url('../images/material/circle2.png');
  width: 78px;
  height: 80px;
  position: absolute;
top: 366px;
left: 654px;
  z-index: 100;
}
